@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    color: #DFDFE0
}

.game {
    display: flex;
    width: 100%;
    height: 100vh;
    
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #3B13AC;
}

.core#blur.active {
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}


/* top area */
.top {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    width: 745.5px;
    padding: 0 15px 10px 15px;
    border-bottom: 1px #fff solid;
}

.top div {
    display: flex;
    justify-content: space-between;
}

.top .timer {
    align-items: center;
    font-size: 25px;
    font-weight: 500;
}

/* app core */
.word {
    margin: 65.5px 0 10px 0;
    font-size: 80px;
}

.score_container{
    font-size: 30px;
}

.input {
    width: 400px;
    height: 37px;
    
    display: block;
    margin: 20px auto 0 auto;
    padding: 10px;
    margin-top: 73px;

    outline: none;
    background: none;
    border: 1px solid #DFDFE0;
    border-radius: 15px;

    text-align: center;
    font-size: 15px;
    font-weight: 700;
}


/* drawingArea Button */
.drawingArea button{
    background: #491BC7;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    height: 37px;
    width: 140px;
    
    margin: 33px auto 0 auto;
    border-radius: 20px;
    border: none;

    cursor: pointer;
    transition: 0.3s ease-out;

    font-size: 12px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.drawingArea button:hover {
    background: #5d22ff;
}

/* popup container */
.drawingArea form,
.endGame-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    
    background: #DFDFE0;
    width: 352px;
    height: 384px;

    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 10px;
}

/* drawingArea form */
.drawingArea form .settings-title {
    color: #717171;
    padding-bottom: 12.5px;
    margin-bottom: 41.5px;
    border-bottom: 2px solid #CACACA;

    font-size: 22px;
    font-weight: 500;
    text-align: left;
}

.drawingArea form #form-close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #717171;
}

.drawingArea .settings-controls div {
    display: flex;
    align-items: center;
}

.drawingArea .settings-controls div:first-child {
    margin-bottom: 18px;
}

.drawingArea .settings-controls div p {
    padding: 0 7px;
    font-size: 18px;
    font-weight: 500;
    color: #8C8C8C;
}

.drawingArea .settings-controls select {
    position: absolute;
    left: 130px;
    
    background: #D7D7D7;
    width: 100px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 7px 0;
    cursor: pointer;

    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #9C9C9C;
}

.drawingArea form .settings-controls select option {
    color: #9C9C9C;
    margin-left: 30px;
}

.drawingArea form .button-newGame {
    margin-top: 95px;
    background:#F5C00D;
}

.drawingArea form .button-newGame:hover {
    background:#f5e60d;
}

.drawingArea form .button-Save {
    margin-top: 15px;
}


/* drawingArea endGame-container */
.drawingArea .endGame-container h2{
    margin-bottom: 20px;
    font-size: 22px;
    color: #717171;
}

.drawingArea .endGame-container p {
    display: flex;
    width: 280px;
    justify-content: space-between;
    margin: 0 auto 7px auto;
}

.drawingArea .endGame-container p, 
.drawingArea .endGame-container span,
.drawingArea .endGame-container .points-container  {
    font-size: 18px;
    font-weight: 500;
    color: #717171;
}

.drawingArea .endGame-container .points-container {
    width: 86px;
    margin: 21px auto 0 auto;
}

.drawingArea .endGame-container .points-value {
    font-size: 50px;
}


/* drawingArea menu-container */
.menu-container p, 
.menu-container span {
    color: #717171;
} 

.menu-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    
    background: #DFDFE0;
    width: 352px;
    height: 384px;

    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.menu-container .statistics-title {
    padding-bottom: 12.5px;
    margin-bottom: 41.5px;
    border-bottom: 2px solid #CACACA;

    font-size: 22px;
    font-weight: 500;
}

.menu-container #menu-close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #717171;
}

.menu-container .menu-info p {
    margin-bottom: 7px;
}

.menu-container .menu-info span {
    position: absolute;
    right: 30px;
}


/* Icons */
#settings-icon {
    display: none;
    position: absolute;
    left: 38px;
    bottom: 51px;
    cursor: pointer;
}

#clock-icon {
    margin-left: 5.1px;
}

.menu-icon {
    margin-left: 22px;
    cursor: pointer;
}