// Colors and configs
@import '../../../style/main.scss';

#statistics-main-content {
    margin-bottom: 200px;
}

#statistics-footer-content {
    display: flex;
    justify-content: center;
    gap: 15px;

    button {
        width: 60px;
        color: $black;
    }
}