// Colors and configs
@import '../../style/main.scss';

#game-over {
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);

    background-color: $white;
    width: 352px;
    height: 420px;
    padding: 20px 40px;
    border-radius: 10px;

    header {
        text-align: center;
        margin-bottom: 20px;

        .game-over__title {
            color: $black;
            font-size: 22px;
        }
    }

    main {
        .game-over__statistics-container {
            margin-bottom: 40px;
        }

        .game-over__point-container {
            text-align: center;
            margin-bottom: 20px;

            p {
                color: $black;
                font-weight: 700;
            }

            .game-over__point-value {
                font-size: 50px;
                font-weight: 500;
            }
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        button {
            background-color: $purple;
            width: 140px;
            height: 40px;
            border: none;
            border-radius: 10px;
            transition: 0.3s ease-out;
            cursor: pointer;

            font-size: 13.5px;
            font-weight: 600;

            box-shadow: 0 4px 4px rgb(0 0 0 / 40%);
        }

        button:hover {
            background-color: $yellowII;
        }
    }
}